@model List<FailureLogging>
 <!-- Page Title -->
        <div class="page-title-area">
            <img src="~/assets/img/home-one/footer-car.png" alt="Title">
            <div class="container">
                <div class="page-title-content">
                    <h2> ARIZA LİSTELE</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                        </li>
                        <li>Arıza Listele </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title -->


        <!-- Cart -->
        <section class="cart-area ptb-100">
            <div class="container">
                <div class="cart-wrap">
                    <table class="table">
                        <thead class="thead">
                            <tr>
                                <th class="table-head" scope="col">Arıza Tanım</th>
                                <th class="table-head" scope="col">Arıza Açıklama</th>
                                <th class="table-head" scope="col">Adres Detayı</th>
                                <th class="table-head" scope="col">Hizmet Durumu</th>
                                <th class="table-head" scope="col">Sil</th>
                                <th class="table-head" scope="col">Güncelle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>

                                <td>@item.FailureName</td>
                                <td>@item.FailureDescription</td>
                                <td>@item.AddressDetail</td>
                                <td>@item.FailureStatus</td>
                                
                                @if (item.FailureStatus == FailureStatus.Alındı.ToString())
                                {
                                    <td>
                                    <a class="btn btn-danger p-1" asp-controller ="CustomerManage" asp-action="FailureDelete" asp-route-id="@item.Id">
                                        <i class='bx bx-x '></i>
                                      @*  <i class="bi bi-trash"></i>*@
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-success"  asp-controller ="CustomerManage" asp-action="FailureUpdate" asp-route-id="@item.Id">
                                        <i class='bx bx-x '></i>
                                      @*  <i class="bi bi-trash"></i>*@
                                    </a>
                                </td>

                                }
                                
                            </tr>
                        
                            }

                          
                        </tbody>
                    </table>

                </div>
            </div>
        </section>
        <!-- End Cart -->