@model List<FailureLoggingViewModel>
<!-- Page Title -->

<div class="page-title-area">
    <img src="~/assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2> ARIZA LİSTEM</h2>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Arıza Listele </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Cart -->
<section class="cart-area ptb-100">
    <div class="container">
        <div class="cart-wrap">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th class="table-head" scope="col">Arıza Tanım</th>
                        <th class="table-head" scope="col">Arıza Açıklama</th>
                        <th class="table-head" scope="col">Adres Detayı</th>
                        <th class="table-head" scope="col">Harita</th>
                        @*<th class="table-head" scope="col">Hizmet Durumu</th>*@
                        <th class="table-head" scope="col">Hizmet Durumu</th>
                        <th class="table-head" scope="col">İşlem Ekle</th>
                        <th class="table-head" scope="col">İşlemler</th>
                        @*<th class="table-head" scope="col">Sil</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FailureName</td>
                            <td>@item.FailureDescription</td>
                            <td>@item.AddressDetail</td>
                            <td>
                                <!-- Button trigger modal -->
                            <button id="@item.Id" onClick="HaritaTık(this.id)" value="@item.Id" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal1">
                                    Harita
                                </button>
                                <input type="hidden" id="dynamicId" value="@item.Id" />
                                <input type="hidden" id="lng" value='@item.Longitude' />
                                <input type="hidden" id="lat" value='@item.Latitude' />


                            </td>
                            @*<td>@item.FailureStatus</td>*@
                            <td class="cmn-btn">
                                <div class="row">
                                    <div class="col-md-12">
                                        <select class="form-select" asp-for="@item.FailureStatus" id="rootStatus" name="rootStatus">

                                            <option value="" selected disabled hidden>Durum Seç</option>
                                            @foreach (var failure in Enum.GetValues(typeof(FailureStatus)).Cast<FailureStatus>().ToList())
                                            {
                                                <option value="@failure"> @failure</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                            </td>
                            <input type="hidden" id="failureId" name="failureId" value="@item.Id" />


                            <td>
                                <a class="btn btn-warning" asp-controller="TechnicianManage" asp-action="ServiceProductGet" asp-route-id="@item.Id">
                                    <i class='bx bx-x '></i>
                                    @*  <i class="bi bi-trash"></i>*@
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="TechnicianManage" asp-action="ShopCart" asp-route-id="@item.Id">
                                    <i class='bx bx-x '></i>
                                    @*  <i class="bi bi-trash"></i>*@
                                </a>
                            </td>
                            @*<td>
                                <a class="btn btn-danger" asp-controller="TechnicianManage" asp-action="FailureIptal" asp-route-id="@item.Id">
                                <i class='bx bx-x '></i>
                                <i class="bi bi-trash"></i>
                                </a>
                                </td>*@
                        </tr>

                    }

                </tbody>
            </table>

        </div>
    </div>
</section>


<!-- The Modal -->
<div class="modal" id="myModal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body " id="map-canvas" style="width:750px;height:450px;padding-bottom:5px;">
                Modal body..

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>



@section Styles{

    #map-canvas{
  width:500px;
	height:300px;
  padding-bottom:5px}

}

<!-- End Cart -->
@section Scripts{


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIt0Djb3XUNND2CsaE410PeakDp7CMvr0"></script>
<script>

    function HaritaTık(tiklanan_id)
    {      // alert(tiklanan_id);
         $('#'+tiklanan_id).click(function(){
            //alert(tiklanan_id+"Harita  Açılıyor");
            var failureId=tiklanan_id;
            $.ajax({

                url:"/technicianManage/mapPosition",
                type:"POST",
                data:
                {"failureId" :failureId
                },
                //data:$(this).val();
               // data:$(this).find("option:selected").val(),
                datatype:"json",
                //url:"/OperatorManage/TechnicianRoute"
                 error:function(request,status,error){
                           console.log(request);
                       },
                       success: function (failureId) {
                        //alert(failureId);
                        var konum = {
                        lat: parseFloat(failureId.latitude),
                        lng: parseFloat(failureId.longitude)
                        }
                        $(document).ready(function () {

                        var map = new google.maps.Map($('#map-canvas')[0], {
                    zoom: 15,
                    //center: new google.maps.LatLng(40.747688, -74.004142),
                    center: konum,

                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                var marker = new google.maps.Marker(
                    {
                        position: konum,
                        map: map,
                        title: 'Arıza Adresi'}
                );
                /*console.log(marker.getPosition().lat());*/
            });
            }
            });
        });
    }

          $('#rootStatus').change(function(){
          alert("tık var");
          var rootStatus=$('#rootStatus').val();
          var failureId=$('#failureId').val();
          $.ajax({
              url:"/technicianManage/StatusUpdate",
              type:"POST",
              data:
              {"status":rootStatus,
              "failureId" :failureId
              },
              //data:$(this).val();
             // data:$(this).find("option:selected").val(),
              datatype:"json",
              //url:"/OperatorManage/TechnicianRoute"
               error:function(request,status,error){
                         console.log(request);
                     },
                     success:function(response){
                         console.log(response);
                     }
          });
      });
</script>
}